# ========================
# ENV
# ========================
.env
.env.*
*.env

# ========================
# NODE / FRONTEND
# ========================
node_modules/
dist/
build/
.vite/
.next/
out/

# ========================
# .NET
# ========================
**/bin/
**/obj/

# ========================
# OS
# ========================
.DS_Store
__MACOSX/

# ========================
# Temp / Export folders
# ========================
assets/videos/.__capcut_export_temp_folder*/

# ========================
# IDE
# ========================
.vscode/
.idea/
