# ========================
# ENV
# ========================
.env
.env.*
*.env

# ========================
# NODE / FRONTEND
# ========================
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/

# ========================
# .NET
# ========================
**/bin/
**/obj/

# ========================
# OS
# ========================
.DS_Store
__MACOSX/

# ========================
# IDE
# ========================
.vscode/
.idea/